:root {
  --primary-color: #1f2937;
  --secondary-color: #3882f6;
  --primary-text: #f9faf8;
  --secondary-text: #e5e7eb;
  --small: 5px;
  --medium: 7px;
  --large: 11px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

button {
  font-family: inherit;
  background: none;
  border: none;
}

.button {
  background-color: var(--secondary-color);
  color: var(--primary-text);
  cursor: pointer;
}

.sign-up {
  font-size: 1.6rem;
  font-weight: 700;
  border-radius: var(--small);
}

.material-symbols-outlined {
  font-variation-settings: "FILL" 1, "wght" 700, "GRAD" 0, "opsz" 24;
}

.header {
  background-color: var(--primary-color);
  padding: 2.4rem 10rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  width: 100%;
  backdrop-filter: blur(8px);
  z-index: 50;
  opacity: 0.95;
}

.brand {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 0.7rem;
}

.brand-logo {
  color: var(--secondary-color);
}

.brand-name {
  color: var(--primary-text);
  font-size: 2.4rem;
  font-weight: 700;
}

.navigation {
  display: flex;
  gap: 2.4rem;
}

.navigation a {
  color: var(--primary-text);
  font-weight: 300;
  font-size: 1.4rem;
}

.hero {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 10rem;
  background: linear-gradient(135deg, #0f172a 0%, #1e293b 100%);
  height: 75vh;
  flex-wrap: wrap;
  gap: 3.6rem;
}

.hero > * {
  flex: 1;
}

.hero-image {
  width: 100%;
  border-radius: var(--large);
}

.hero-left {
  display: flex;
  flex-direction: column;
  color: var(--secondary-text);
  gap: 1.6rem;
}

.main-heading {
  color: var(--primary-text);
  font-weight: 800;
  font-size: 6rem;
  letter-spacing: -1.25px;
  width: 50rem;
}

.main-heading .highlight {
  color: var(--secondary-color);
}

.hero-left .main-text {
  font-weight: 400;
  font-size: 1.8rem;
  line-height: 1.75;
  width: 40rem;
}

.hero-left .sign-up {
  width: fit-content;
  padding: 1.6rem 3.2rem;
}

.features {
  padding: 10rem;
  display: flex;
  flex-wrap: wrap;
  gap: 6rem;
  justify-content: center;
}

.features-heading {
  width: 100%;
  text-align: center;
  font-size: 3.2rem;
  color: var(--primary-color);
  font-weight: 700;
}

.features-card {
  width: 30rem;
}

.features-image {
  width: 100%;
  height: 30rem;
  object-fit: cover;
  border: 5px solid var(--secondary-color);
  border-radius: var(--medium);
}

.features-info {
  color: var(--primary-color);
  font-size: 1.8rem;
  line-height: 1.25;
  padding: 1.2rem;
  font-weight: 300;
}

.features-info span.bold {
  font-weight: 700;
  color: var(--secondary-color);
}

.quote {
  padding: 10rem;
  background-color: var(--secondary-text);
  color: var(--primary-color);
}

.quote > * {
  max-width: 75%;
  margin: 0 auto;
}

.quote .quote-text {
  text-align: center;
  font-weight: 300;
  font-size: 3.6rem;
  font-style: italic;
  position: relative;
}

.quote .author-name {
  font-size: 1.8rem;
  font-weight: 700;
  text-align: right;
  margin-top: 3.2rem;
}

.quote .cite {
  text-align: right;
}

.quote .dbl-quote {
  font-size: 6rem;
  font-weight: 300;
  position: absolute;
  opacity: 0.5;
}

.quote .dbl-quote:first-child {
  left: -1rem;
  top: -1rem;
}

.quote .dbl-quote:last-child {
  right: -1rem;
  bottom: -3rem;
}

.cta {
  max-width: 54%;
  background-color: var(--secondary-color);
  margin: 10rem auto;
  padding: 4.8rem 6.4rem;
  border-radius: var(--large);
  color: var(--primary-text);
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.cta .sign-up {
  border: 2px solid var(--primary-text);
  padding: 1.2rem 3.6rem;
}

.cta .cta-text {
  color: var(--secondary-text);
  margin-top: 0.5rem;
}

.footer {
  background-color: var(--primary-color);
  padding: 3.2rem 10rem;
  text-align: center;
}

.footer .copyright {
  color: var(--secondary-text);
  opacity: 0.5;
}
